openapi: "3.0.0"
info:
  title: WhatsApp API MultiDevice
  version: 1.0.0
  description: |
    This API is used for sending whatsapp via API.

    Device scoping:
    - Send `X-Device-Id` on all device-scoped REST calls.
    - WebSocket: connect to `/ws?device_id=<id>`.
servers:
  - url: https://whatsapp.dilztopup.com
tags:
  - name: app
    description: Initial Connection to Whatsapp server
  - name: device
    description: Device management for multi-device support
  - name: send
    description: Send Message (Text/Image/File/Video).
security:
  - basicAuth: []

paths:
  /app/login:
    get:
      operationId: appLogin
      tags:
        - app
      summary: Login to whatsapp server
      parameters:
        - $ref: '#/components/parameters/DeviceIdHeader'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServer'
  /app/login-with-code:
    get:
      operationId: appLoginWithCode
      tags:
        - app
      summary: Login with pairing code
      parameters:
        - $ref: '#/components/parameters/DeviceIdHeader'
        - name: phone
          in: query
          schema:
            type: string
          example: '628912344551'
          description: Your phone number
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginWithCodeResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServer'
  /app/logout:
    get:
      operationId: appLogout
      tags:
        - app
      summary: Remove database and logout
      parameters:
        - $ref: '#/components/parameters/DeviceIdHeader'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServer'
  /app/reconnect:
    get:
      operationId: appReconnect
      tags:
        - app
      summary: Reconnecting to whatsapp server
      parameters:
        - $ref: '#/components/parameters/DeviceIdHeader'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServer'
  /app/devices:
    get:
      operationId: appDevices
      tags:
        - app
      summary: Get list connected devices
      description: >
        Returns all device IDs known to the server, including placeholders
        created via the device API. Devices are now persisted in the storage
        registry so IDs remain stable after application restarts.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServer'
  /app/status:
    get:
      operationId: appStatus
      tags:
        - app
      summary: Get connection status
      description: Check whether the WhatsApp client is connected and logged in
      parameters:
        - $ref: '#/components/parameters/DeviceIdHeader'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 200
                  code:
                    type: string
                    example: SUCCESS
                  message:
                    type: string
                    example: Connection status retrieved
                  results:
                    type: object
                    properties:
                      is_connected:
                        type: boolean
                        description: Whether the device is connected to WhatsApp servers
                      is_logged_in:
                        type: boolean
                        description: Whether the device is logged in to WhatsApp
                      device_id:
                        type: string
                        description: The device ID
                        example: '6289685028129@s.whatsapp.net'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequest'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServer'

  # Device Management API (v8)
  /devices:
    get:
      operationId: listDevices
      tags:
        - device
      summary: List all devices
      description: Returns all registered devices with their connection status
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceListResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServer'
    post:
      operationId: addDevice
      tags:
        - device
      summary: Add a new device
      description: Create a new device slot for multi-device management
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                device_id:
                  type: string
                  description: Optional custom device ID. If not provided, one will be generated.
                  example: 'my-custom-device-id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceAddResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequest'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServer'

  /devices/{device_id}:
    get:
      operationId: getDevice
      tags:
        - device
      summary: Get device info
      description: Get detailed information about a specific device
      parameters:
        - name: device_id
          in: path
          required: true
          schema:
            type: string
          description: Device ID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceInfoResponse'
        '404':
          description: Device not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServer'
    delete:
      operationId: removeDevice
      tags:
        - device
      summary: Remove a device
      description: Remove a device from the server (does not logout from WhatsApp)
      parameters:
        - name: device_id
          in: path
          required: true
          schema:
            type: string
          description: Device ID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '404':
          description: Device not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServer'

  /devices/{device_id}/login:
    get:
      operationId: loginDevice
      tags:
        - device
      summary: Login device with QR code
      description: Initiate QR code login for a specific device
      parameters:
        - name: device_id
          in: path
          required: true
          schema:
            type: string
          description: Device ID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '404':
          description: Device not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServer'

  /devices/{device_id}/login/code:
    post:
      operationId: loginDeviceWithCode
      tags:
        - device
      summary: Login device with pairing code
      description: Initiate pairing code login for a specific device
      parameters:
        - name: device_id
          in: path
          required: true
          schema:
            type: string
          description: Device ID
        - name: phone
          in: query
          required: true
          schema:
            type: string
          example: '628912344551'
          description: Phone number to pair with
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginWithCodeResponse'
        '404':
          description: Device not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServer'

  /devices/{device_id}/logout:
    post:
      operationId: logoutDevice
      tags:
        - device
      summary: Logout device
      description: Logout a specific device from WhatsApp and remove its session
      parameters:
        - name: device_id
          in: path
          required: true
          schema:
            type: string
          description: Device ID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '404':
          description: Device not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServer'

  /devices/{device_id}/reconnect:
    post:
      operationId: reconnectDevice
      tags:
        - device
      summary: Reconnect device
      description: Reconnect a specific device to WhatsApp
      parameters:
        - name: device_id
          in: path
          required: true
          schema:
            type: string
          description: Device ID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '404':
          description: Device not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServer'

  /devices/{device_id}/status:
    get:
      operationId: getDeviceStatus
      tags:
        - device
      summary: Get device connection status
      description: Get the current connection status of a specific device
      parameters:
        - name: device_id
          in: path
          required: true
          schema:
            type: string
          description: Device ID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceStatusResponse'
        '404':
          description: Device not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServer'
  
  /send/message:
    post:
      operationId: sendMessage
      tags:
        - send
      summary: Send Message
      parameters:
        - $ref: '#/components/parameters/DeviceIdHeader'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                phone:
                  type: string
                  example: '6289685028129@s.whatsapp.net'
                  description: Phone number with country code
                message:
                  type: string
                  example: selamat malam
                  description: Message to send
                reply_message_id:
                  type: string
                  example: 3EB089B9D6ADD58153C561
                  description: Message ID that you want reply
                is_forwarded:
                  type: boolean
                  example: false
                  description: Whether this is a forwarded message
                duration:
                  type: integer
                  example: 3600
                  description: Disappearing message duration in seconds (optional)
                mentions:
                  type: array
                  items:
                    type: string
                  example: ["628123456789", "@everyone"]
                  description: |
                    List of phone numbers to mention (ghost mentions - no @ required in message text).
                    Use special keyword "@everyone" to mention all group participants.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequest'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServer'
  /send/image:
    post:
      operationId: sendImage
      tags:
        - send
      summary: Send Image
      parameters:
        - $ref: '#/components/parameters/DeviceIdHeader'
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                phone:
                  type: string
                  example: '6289685028129@s.whatsapp.net'
                  description: Phone number with country code
                caption:
                  type: string
                  example: selamat malam
                  description: Caption to send
                view_once:
                  type: boolean
                  example: false
                  description: View once
                image:
                  type: string
                  format: binary
                  description: Image to send
                image_url:
                  type: string
                  example: https://example.com/image.jpg
                  description: Image URL to send
                compress:
                  type: boolean
                  example: false
                  description: Compress image
                duration:
                  type: integer
                  example: 3600
                  description: Disappearing message duration in seconds (optional)
                is_forwarded:
                  type: boolean
                  example: false
                  description: Whether this is a forwarded message
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequest'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServer'
  /send/audio:
    post:
      operationId: sendAudio
      tags:
        - send
      summary: Send Audio
      parameters:
        - $ref: '#/components/parameters/DeviceIdHeader'
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                phone:
                  type: string
                  example: '6289685028129@s.whatsapp.net'
                  description: Phone number with country code
                audio:
                  type: string
                  format: binary
                  description: Audio to send
                audio_url:
                  type: string
                  example: https://example.com/audio.mp3
                  description: Audio URL to send
                is_forwarded:
                  type: boolean
                  example: false
                  description: Whether this is a forwarded message
                duration:
                  type: integer
                  example: 3600
                  description: Disappearing message duration in seconds (optional)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequest'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServer'
  /send/file:
    post:
      operationId: sendFile
      tags:
        - send
      summary: Send File
      parameters:
        - $ref: '#/components/parameters/DeviceIdHeader'
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                phone:
                  type: string
                  example: '6289685028129@s.whatsapp.net'
                  description: Phone number with country code
                caption:
                  type: string
                  example: selamat malam
                  description: Caption to send
                file:
                  type: string
                  format: binary
                  description: File to send
                is_forwarded:
                  type: boolean
                  example: false
                  description: Whether this is a forwarded message
                duration:
                  type: integer
                  example: 3600
                  description: Disappearing message duration in seconds (optional)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequest'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServer'
  /send/sticker:
    post:
      operationId: sendSticker
      tags:
        - send
      summary: Send Sticker
      description: Send sticker with automatic conversion to WebP format
      parameters:
        - $ref: '#/components/parameters/DeviceIdHeader'
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                phone:
                  type: string
                  example: '6289685028129@s.whatsapp.net'
                  description: Phone number with country code
                sticker:
                  type: string
                  format: binary
                  description: Sticker image file (jpg/jpeg/png/webp/gif)
                sticker_url:
                  type: string
                  example: https://example.com/sticker.png
                  description: URL of sticker image to send
                duration:
                  type: integer
                  example: 3600
                  description: Disappearing message duration in seconds (optional)
                is_forwarded:
                  type: boolean
                  example: false
                  description: Whether this is a forwarded sticker
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequest'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServer'
  /send/video:
    post:
      operationId: sendVideo
      tags:
        - send
      summary: Send Video
      parameters:
        - $ref: '#/components/parameters/DeviceIdHeader'
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                phone:
                  type: string
                  example: '6289685028129@s.whatsapp.net'
                  description: Phone number with country code
                caption:
                  type: string
                  example: ini contoh caption video
                  description: Caption to send
                view_once:
                  type: boolean
                  example: false
                  description: View once
                video:
                  type: string
                  format: binary
                  description: Video to send
                video_url:
                  type: string
                  example: https://example.com/sample.mp4
                  description: Video URL to send
                compress:
                  type: boolean
                  example: false
                  description: Compress video
                gif_playback:
                  type: boolean
                  example: false
                  description: Display video as GIF (looping, silent, autoplay)
                duration:
                  type: integer
                  example: 3600
                  description: Disappearing message duration in seconds (optional)
                is_forwarded:
                  type: boolean
                  example: false
                  description: Whether this is a forwarded message
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequest'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServer'
  /send/contact:
    post:
      operationId: sendContact
      tags:
        - send
      summary: Send Contact
      parameters:
        - $ref: '#/components/parameters/DeviceIdHeader'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                phone:
                  type: string
                  example: '6289685024051@s.whatsapp.net'
                  description: Phone number with country code
                contact_name:
                  type: string
                  example: Aldino Kemal
                  description: Contact name
                contact_phone:
                  type: string
                  example: '6289685024992'
                  description: Contact phone number
                is_forwarded:
                  type: boolean
                  example: false
                  description: Whether this is a forwarded message
                duration:
                  type: integer
                  example: 3600
                  description: Disappearing message duration in seconds (optional)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequest'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServer'
  /send/link:
    post:
      operationId: sendLink
      tags:
        - send
      summary: Send Link
      parameters:
        - $ref: '#/components/parameters/DeviceIdHeader'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                phone:
                  type: string
                  example: '6289685024051@s.whatsapp.net'
                  description: Phone number with country code
                link:
                  type: string
                  example: "https://google.com"
                  description: Link to send
                caption:
                  type: string
                  example: 'Halo ini contoh caption'
                  description: Caption to send
                is_forwarded:
                  type: boolean
                  example: false
                  description: Whether this is a forwarded message
                duration:
                  type: integer
                  example: 3600
                  description: Disappearing message duration in seconds (optional)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequest'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServer'
  /send/location:
    post:
      operationId: sendLocation
      tags:
        - send
      summary: Send Location
      parameters:
        - $ref: '#/components/parameters/DeviceIdHeader'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                phone:
                  type: string
                  example: '6289685024051@s.whatsapp.net'
                  description: Phone number with country code
                latitude:
                  type: string
                  example: "-7.797068"
                  description: Latitude coordinate
                longitude:
                  type: string
                  example: '110.370529'
                  description: Longitude coordinate
                is_forwarded:
                  type: boolean
                  example: false
                  description: Whether this is a forwarded message
                duration:
                  type: integer
                  example: 3600
                  description: Disappearing message duration in seconds (optional)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequest'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServer'
  /send/poll:
    post:
      operationId: sendPoll
      tags:
        - send
      summary: Send Poll / Vote
      parameters:
        - $ref: '#/components/parameters/DeviceIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                phone:
                  type: string
                  description: The WhatsApp phone number to send the poll to, including the '@s.whatsapp.net' suffix.
                  example: '6289685024421@s.whatsapp.net'
                question:
                  type: string
                  description: The question for the poll.
                  example: 'Siapa Nama Avatar The Last Air Bender?'
                options:
                  type: array
                  description: The options for the poll.
                  items:
                    type: string
                  example: [ 'Zuko', 'Aang', 'Katara' ]
                max_answer:
                  type: integer
                  description: The maximum number of answers allowed for the poll.
                  example: 2
                duration:
                  type: integer
                  example: 3600
                  description: Disappearing message duration in seconds (optional)
              required:
                - phone
                - question
                - options
                - max_answer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequest'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServer'
  /send/presence:
    post:
      operationId: sendPresence
      tags:
        - send
      summary: Send presence status
      parameters:
        - $ref: '#/components/parameters/DeviceIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  description: The presence type to send
                  enum: [available, unavailable]
                  example: 'available'
                is_forwarded:
                  type: boolean
                  example: false
                  description: Whether this is a forwarded message
              required:
                - type
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequest'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServer'
  /send/chat-presence:
    post:
      operationId: sendChatPresence
      tags:
        - send
      summary: Send chat presence (typing indicator)
      description: Send typing indicator to start or stop showing that you are composing a message
      parameters:
        - $ref: '#/components/parameters/DeviceIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                phone:
                  type: string
                  example: '6289685024051@s.whatsapp.net'
                  description: Phone number with country code
                action:
                  type: string
                  enum: [start, stop]
                  example: 'start'
                  description: Action to perform - "start" to begin typing indicator, "stop" to end typing indicator
              required:
                - phone
                - action
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequest'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServer'

components:
  parameters:
    DeviceIdHeader:
      name: X-Device-Id
      in: header
      required: false
      description: |
        Device identifier for multi-device support. Required when multiple devices are registered.
        If only one device is registered, it will be used as the default.
        Can also be provided as `device_id` query parameter.
      schema:
        type: string
        example: 'my-device-id'

  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
  schemas:
    SendResponse:
      type: object
      properties:
        code:
          type: string
          example: SUCCESS
        message:
          type: string
          example: Success
        results:
          type: object
          properties:
            message_id:
              type: string
              example: '3EB0B430B6F8F1D0E053AC120E0A9E5C'
            status:
              type: string
              example: '<feature> success ....'
    DeviceResponse:
      type: object
      properties:
        code:
          type: string
          example: SUCCESS
        message:
          type: string
          example: Fetch device success
        results:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                example: 'Aldino Kemal'
              device:
                type: string
                example: '628960561XXX.0:64@s.whatsapp.net'

    # Device Management Schemas (v8)
    DeviceListResponse:
      type: object
      properties:
        code:
          type: string
          example: SUCCESS
        message:
          type: string
          example: List devices
        status:
          type: integer
          example: 200
        results:
          type: array
          items:
            $ref: '#/components/schemas/DeviceInfo'
    DeviceAddResponse:
      type: object
      properties:
        code:
          type: string
          example: SUCCESS
        message:
          type: string
          example: Device added
        status:
          type: integer
          example: 200
        results:
          $ref: '#/components/schemas/DeviceInfo'
    DeviceInfoResponse:
      type: object
      properties:
        code:
          type: string
          example: SUCCESS
        message:
          type: string
          example: Device info
        status:
          type: integer
          example: 200
        results:
          $ref: '#/components/schemas/DeviceInfo'
    DeviceStatusResponse:
      type: object
      properties:
        code:
          type: string
          example: SUCCESS
        message:
          type: string
          example: Device status
        status:
          type: integer
          example: 200
        results:
          type: object
          properties:
            device_id:
              type: string
              example: 'my-device-id'
            is_connected:
              type: boolean
              example: true
            is_logged_in:
              type: boolean
              example: true
    DeviceInfo:
      type: object
      properties:
        id:
          type: string
          example: 'my-device-id'
        phone_number:
          type: string
          example: '628123456789'
        display_name:
          type: string
          example: 'John Doe'
        state:
          type: string
          enum: [disconnected, connected, logged_in]
          example: 'logged_in'
        jid:
          type: string
          example: '628123456789@s.whatsapp.net'
        created_at:
          type: string
          format: date-time
          example: '2024-01-01T00:00:00Z'

    LoginWithCodeResponse:
      type: object
      properties:
        code:
          type: string
          example: SUCCESS
        message:
          type: string
          example: Success
        results:
          type: object
          properties:
            pair_code:
              type: string
              example: ABCD-1234
    LoginResponse:
      type: object
      properties:
        code:
          type: string
          example: SUCCESS
        message:
          type: string
          example: Success
        results:
          type: object
          properties:
            qr_duration:
              type: integer
              example: 30
            qr_link:
              type: string
              example: 'http://localhost:3000/statics/images/qrcode/scan-qr-b0b7bb43-9a22-455a-814f-5a225c743310.png'
    GenericResponse:
      type: object
      properties:
        code:
          type: string
          example: SUCCESS
        message:
          type: string
          example: Success
        results:
          type: string
          example: null
    ErrorInternalServer:
      type: object
      properties:
        code:
          type: string
          example: INTERNAL_SERVER_ERROR
          description: 'SYSTEM_CODE_ERROR'
        message:
          type: string
          example: you are not loggin
          description: 'Detail error message'
        results:
          type: object
          example: null
          description: 'additional data'
    ErrorBadRequest:
      type: object
      properties:
        code:
          type: string
          example: 400
          description: 'HTTP Status Code'
        message:
          type: string
          example: field cannot be blank
          description: 'Detail error message'
        results:
          type: object
          example: null
          description: 'additional data'
    ErrorUnauthorized:
      type: object
      properties:
        code:
          type: string
          example: 401
          description: 'HTTP Status Code'
        message:
          type: string
          example: Unauthorized access
          description: 'Detail error message'
        results:
          type: object
          example: null
          description: 'additional data'
    ErrorNotFound:
      type: object
      properties:
        code:
          type: string
          example: 404
          description: 'HTTP Status Code'
        message:
          type: string
          example: Chat not found
          description: 'Detail error message'
        results:
          type: object
          example: null
          description: 'additional data'
